libgeotiff-dev
libgdal30
libavformat58
libgdal-dev
rsync
libavcodec58
libboost-serialization1.74.0
libamd2
libboost-system1.74.0
libboost-program-options1.74.0
libtiff-dev
proj-data
libflann-dev
libswscale-dev
libcolamd2
liblapack3
procps
g++-10
libccolamd2
libtbb2-dev
python3-distutils
libgoogle-glog-dev
libcholmod3

pkg-config
libsuitesparseconfig5
libboost-all-dev
libcamd2
libxslt1-dev
libavformat-dev
libjpeg-turbo8
libtiff5
build-essential
libavcodec-dev
libusb-1.0-0-dev
libspqr2
libjpeg-dev
python3-setuptools
libgeotiff5
libgoogle-glog0v5
proj-bin
libpdal-dev
libcgal-dev
libboost-system-dev
libwebpdemux2
python3-pkg-resources
python3-requests
python3-pip
libboost-iostreams-dev
libsuitesparse-dev
libeigen3-dev
libtbb2
libboost-program-options-dev
libboost-iostreams1.74.0
libswscale5
gfortran
libboost-serialization-dev
python3-wheel
libflann1.9
swig3.0
pdal
gcc-10
liblapack-dev
libproj-dev
git
libcxsparse3
cmake

libssl-dev

ninja-build
python3-dev
libjsoncpp-dev
libpng-dev
libxext-dev
libopenjpip7
libpng16-16
libxext6
