appsettings
python-dateutil
attrs
beautifulsoup4
cloudpickle
edt
ODMExifRead
Fiona
joblib
lxml
matplotlib
networkx
numpy
Pillow
vmem
pyodm
pyproj
Pysolar
pytz
PyYAML
rasterio
repoze.lru
scikit-learn
Pywavelets
scikit-image
scipy
xmltodict
fpdf2
Shapely
onnxruntime
pygltflib
codem
trimesh
pandas
piexif

# Specific version required
gdal==3.6.4
pdal==3.3.0
coverage==6.1.2
cython==0.29.22
pytest==6.2.5
pytest-cov==3.0.0
setuptools==59.2.0
boto3==1.20.10
wheel==0.37.0
pytz==2021.3